body{
  background-color: #EAF6F6;
}
hr{
  background-color: white;
  border-style:dotted none none;
  border-color: grey;
  border-width: 4px;
  width: 7%;
}
h1{
  color: #66BFBF;
}
h3{
  font-family: sans-serif;
  color: #66BFBF;
}
